extends layout

block content
  h1 Welcome to my Color Changer
  form(method="POST" action="/")
    label(for="picker") Background
    br
    input(type="color" name="colorPicker" id="picker" value=`${color}`)
    br




    label(for="picker") Click Me!
    button(type="submit") Submit